/****general****/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
  }
  
  li {
    list-style: none;
  }
  
  :root {
    --theme-light-green: #99E2D0;
    --theme-green: #008766;
    --theme-light-blue: #89C8FA;
    --theme-purple: #9356DC;
    --theme-gray: #EAEAEA;
    --theme-light-gray:#F6F6F6;
  }
  
  h2 {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
  }
  
  a {
    text-decoration: none;
    color: black;
  }
  
  /****loader****/
  .loader {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 100;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: white;
    transition: all 0.3s;
    animation: loader-fading-animation 2000ms forwards, loader-index 2100ms forwards;
  }
  .loader .circle {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    border: 10px dashed var(--theme-purple);
    transition: none;
    animation: circle-spinning 2000ms infinite linear, circle-fading 3000ms forwards;
  }
  @keyframes circle-spinning {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(200deg);
    }
  }
  @keyframes circle-fading {
    89% {
      opacity: 1;
    }
    90% {
      opacity: 0;
    }
  
  }
  @keyframes loader-fading-animation {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes loader-index {
    0% {
      z-index: 100;
    }
    98% {
      z-index: 100;
    }
    100% {
      z-index: -100;
    }
  }
  /****header****/
  header {
    position: relative;
    height: 63px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    z-index: 100;
  }
  header i {
    position: absolute;
    font-size: 20px;
    left: 23px;
    top: 26px;
    cursor: pointer;
    color: black;
  }
  header .logo {
    height: 36px;
    margin-bottom: 2px;
  }
  header .logo img {
    width: 162px;
  }
  
  section.location {
    height: 50px;
    color: #353535;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--theme-gray);
  }
  
  section.location h2 i {
    left: -17px;
    top: -2px;
    position: relative;
   
  }

  section.location h2{
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    margin: 0 10px;
    position: relative;
  }

  /****information section****/
  section.information {
    text-align: center;
    background-color: var(--theme-light-gray);
    padding-top: 39px;
    padding-bottom: 57px;
  }
  section.information p {
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    margin: 27px 42px;
  }
  
  .cta {
      
    background: linear-gradient(360deg, #9356DC 0%, #FF79DA 100%);
    
    margin: 10px;
    padding: 20px 30px;
    text-align: center;
    transition: all 0.5s;
    color: white;            
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
  
    border: none;
    width: 235px;
    font-size: 16px;
    font-weight: 500;
  
  
  }
  .cta--highlight:hover {
    background: linear-gradient(360deg, #9356DC 0%, #FF79DA 100%);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
    
    opacity: 0.85;
  }
  /****step****/
  
  .how-it-works, .restaurants {
    padding: 48px 20px 68px 20px;
  }
  .how-it-works h2, .restaurants h2 {
    margin-bottom: 26px;
  }
  
  @media screen and (min-width: 992px) {
    .container {
      max-width: 1050px;
      margin: 0 auto;
    }
  }
  
  .how-it-works .step {
    margin-left: 12px;
    display: flex;
    position: relative;
    align-items: center;
    padding: 27px 33px;
    width: calc(100% - 12px);
    height: 72px;
    border-radius: 20px;
    background-color: #F7F7F7;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    font-size: 16px;
    margin-bottom: 25px;
    transition: all 0.3s;
  }
  .how-it-works .step--highlight:hover {
    background-color: #F5EDFF;
  }
  .how-it-works .step--highlight:hover i {
    color: #9356DC;
  }
  .how-it-works .step i {
    margin-right: 27px;
    width: 24px;
    height: 24px;
    font-size: 20px;
    color: #7E7E7E;
  }
  .how-it-works .step .badge {
    position: absolute;
    left: -12px;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--theme-purple);
    border-radius: 50%;
    color: white;
    font-size: 14px;
  }
  .how-it-works .steps {
    display: flex;
    flex-direction: column;
  }
  @media screen and (min-width: 992px) {
    .how-it-works .steps {
      flex-direction: row;
    }
    .how-it-works .steps .step {
      margin-right: 24px;
    }
  }
  /****restaurants****/
  .restaurants {
    background-color: var(--theme-light-gray);
  }
  .restaurants .cards .card {
    position: relative;
    border-radius: 15px;
    overflow: hidden;
    width: 100%;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    background-color: white;
    margin-bottom: 18px;
  }
  .restaurants .cards .card__image {
    position: relative;
    height: 220px;
  }
  .restaurants .cards .card__image img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  .restaurants .cards .card__like {
    position: absolute;
    top: 0px;
    right: 12px;
    width: 20px;
    height: 20px;
    border: none;
    background-color: transparent;
  }
  .restaurants .cards .card__like i {
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0;
    font-size: 20px;
    transition: all 0.2s;
  }
  .restaurants .cards .card__like i.fa-solid {
    opacity: 0;
  }
  .restaurants .cards .card__like i.fa-regular {
    opacity: 1;
  }
  .restaurants .cards .card__like:hover i.fa-solid {
    opacity: 1;
    background-image: linear-gradient(#9356DC, #FF79DA);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .restaurants .cards .card__like:hover i.fa-regular {
    opacity: 0;
  }
  .restaurants .cards .card__notice {
    position: absolute;
    top: 18px;
    right: 18px;
    padding: 7px 8px;
    color: #008766;
    background: #99E2D0;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    border-radius: 2px;
  }
  .restaurants .cards .card__info {
    position: relative;
    margin: 16px 12px;
  }
  .restaurants .cards .card__info h3 {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
  }
  .restaurants .cards .card__info p {
    font-weight: 300;
    font-size: 17px;
    line-height: 20px;
  }
  @media screen and (min-width: 992px) {
    .restaurants {
      overflow: hidden;
      overflow-x: auto;
    }
    .restaurants .cards {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      column-gap: 32px;
      width: 150%;
    }
    .restaurants .cards article.card {
      flex-shrink: 0;
      width: 335px;
    }
  }
  /****footer****/
  footer {
    background-color: #353535;
    padding: 22px 25px;
    color: white;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
  }
  footer h3 {
    font-family: "Shrikhand";
    font-style: italic;
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 16px;
  }
  footer ul li {
    margin-bottom: 7px;
    cursor: pointer;
  }
  footer ul li i {
    width: 13px;
    height: 13px;
    font-size: 13px;
    margin-right: 10px;
  }
  footer ul li:nth-child(1), footer ul li:nth-child(2) {
    font-weight: 500;
  }
  @media screen and (min-width: 992px) {
    footer {
      height: 114px;
    }
    footer .container {
      display: flex;
      height: 100%;
      flex-direction: row-reverse;
      align-items: center;
      justify-content: flex-start;
      column-gap: 71px;
    }
    footer .container h3 {
      margin: 0;
    }
    footer .container ul {
      display: flex;
      column-gap: 40px;
    }
    footer .container ul li {
      margin: 0;
    }
  }
  